* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', sans-serif;  
  margin: 0px;
  padding: 0px;
}

body,
html {
  height: 100%
}

body {
  background-image: url('../images/sky-bg.jpg');
  background-size: stretch;
}

a {
  text-decoration: none;
}

/* ==============================================
   ======== Header Styling ====================*/

.header {
  background-color: #708090;
  display: flex;
  height: 150px;
  justify-content: space-between;
  opacity: 0.7;
}

.nav {
  align-self: flex-end;
  margin: 0 0 30px 50px;
  text-transform: uppercase;
  width: 50%;
}

.nav-list {
  display: flex;
  height: 40px;
}

.nav-list-item {
  color: #00bfff;
  height: 100%;
  letter-spacing: 1px;
  list-style: none;
  padding-right: 40px;
  padding-top: 8px;
}

.icon {
  background-repeat: no-repeat;  
}

.form-icon {
  background-image: url('../images/forms-1.png');
  padding-left: 35px;
}

.form-icon:hover {
  background-image: url('../images/forms-2.png');
}

.form-icon:active {
  background-image: url('../images/forms-3.png');
}

.equipment-icon {
  background-image: url('../images/equipment-1.png');
  padding-left: 45px;
}

.equipment-icon:hover {
  background-image: url('../images/equipment-2.png');
}

.equipment-icon:active {
  background-image: url('../images/equipment-3.png');
}

.force-icon {
  background-image: url('../images/force-1.png');
  background-size: 25px;  
  padding-left: 40px;
}

.force-icon:hover {
  background-image: url('../images/force-2.png');
}

.force-icon:active {
  background-image: url('../images/force-3.png');
}

.aside {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.aside-icon {
  background-image: url('../images/admin-1.png');
  background-position-x: 10px;
  background-position-y: -2px;
  background-size: 25px;
}

.aside-icon:hover {
  background-image: url('../images/admin-2.png');
}

.aside-icon:active {
  background-image: url('../images/admin-3.png');
}

.aside-login {
  color: #00bfff;
  margin: 10px 20px 0 0;
  padding: 6px;
  text-align: right;
}

.aside-image {
  filter: brightness(150%);
  margin: 0 20px 20px 0;
  width: 175px;
}

.description-container {
  margin: 25px 0 15px 15px;
}

.description-text {
  color: #dbe1e1;
  font-size: 42px;
  font-weight: 400;
}

/* ==============================================
   ======== Card Styling ======================*/

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: #708090;
  box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.2);
  height: 450px;
  margin: 10px;
  opacity: 0.9;  
  width: 23%;
}

.card-top-background {
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  display: flex;
  height: 35%;
  justify-content: space-between;
}

.card-flip-button {
  border-radius: 50%;
  height: 60px;
  margin: 20px 0 0 20px;
  width: 60px;
}

.card-rank {
  color: #fff;
  margin: 10px 20px 0 0;
}

.card-rank-value {
  display: block;
  font-size: 30px;
  margin-top: 5px;
}

.card-character-info {
  padding-left: 15px;
}

.character-name {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0 5px 0;
}

.character-race {
  font-size: 14px;
}

.character-wiki {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);  
  margin: 20px 6% 20px 0;
  padding: 10px;
  word-wrap: break-word;
}

.character-link {
  color: #87CEEB;
}

.character-form {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;  
}

.character-form-info {
  font-size: 18px;
  margin-bottom: 23px;
}

.character-force-level {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.character-force-level-rank {
  color: #00bfff;
  font-size: 28px;
}

.obiwan {
  background-image: url('../images/obiwan.jpg');
  background-position-y: 0%;
}

.yoda {
  background-image: url('../images/yoda.jpg');
}

.ahsoka {
  background-image: url('../images/ahsoka.jpg');
}

.rex {
  background-image: url('../images/rex.jpg');
}

.maul {
  background-image: url('../images/maul.jpg');
}

.palpatine {
  background-image: url('../images/palpatine.jpg');
}

.asajj {
  background-image: url('../images/asajj.jpg');
  background-position-y: 0%;
}

.grevious {
  background-image: url('../images/grievous.jpg'); 
}

@media only screen and (max-width: 1050px) {
  .card {
    width: 30%;
  }
}

@media only screen and (max-width: 820px) {
  .nav-list {
    height: 140px;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-between;
  }

  .description-text {
    text-align: center;
  }

  .card {
    width: 44%;
  }
}

@media only screen and (max-width: 520px) {
  .main-container {
    flex-direction: column;
    width: 100%;   
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .aside {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .aside-login {
    margin: 10px 0 0 0;
  }

  .aside-icon {
    background-position-x: 62%;
  }

  .nav {
    align-self: flex-start;
    margin-left: 15px;
    width: 100%;    
  }

  .nav-list {
    flex-direction: column;
    font-size: 20px;
    justify-content: flex-start;
  }

  li {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .aside-image {
    display: none;
  }

  .card {
    width: 85%;
  }
}

@media only screen and (max-width: 320px) {
  .aside-icon {
    background-position-x: 160px;
  }
}